

/*{
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}*/

/*
.btn-block {
  display: block;
  width: 100%;
}*/
/*{
 position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}*/



html {
  margin-top: 10%;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 2;
}

.input-task-style {

    width: 70%;
	margin-left:auto; 
	margin-right:auto;
}
.center {
	width: 70%;
	margin-left:auto; 
	margin-right:auto;
}
.font-color {
  color: #42b983;
}


.add-style {
	width: 20%;
	margin-left:auto; 
	margin-right:auto;

}
.button-style {
	background-color: transparent;
  border-color: #ccc;
  height: 2em;
  width: 100%;
  display: block;
}



.taskDone {
  text-decoration: line-through;
}



